{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <ul>
        <h2>Registro de Moradores</h2>
        {% for Morador in Moradores %}
                <li>
                {{ Morador.CPF }} - {{ Morador.nome }} - {{ Morador.telefone }} - {{ Morador.bloco }} -
                {{ Morador.dataDeNascimento }} - {{ Morador.numeroDoApartamento }}
                 <div>
                      <a href="{% url 'delete_Morador' Morador.id %}" class="btn btn-danger">Excluir</a>
                      <a href="{% url 'update_Morador' Morador.id %}" class="btn btn-primary">Atualizar</a>
                  </div>
                </li>


            {% endfor %}
    </ul>
        <div>
        <a class="btn btn-primary" href="{% url 'create_Morador' %}">Novo Morador</a>
        <a class="btn btn-primary" href="{% url 'list_Vaga' %}">Vaga</a>
        <a class="btn btn-primary" href="{% url 'list_Carro' %}">Carro</a>
        <a class="btn btn-primary" href="{% url 'list_Visitante' %}">Visitante</a>
        <a class="btn btn-primary" href="{% url 'list_PrestadorDeServico' %}">Prestador de Servico</a>
        </div>
{% endblock %}