{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <ul>
        <h2>Registro de Prestadores de Serviços</h2>
        {% for PrestadorDeServico in PrestadorDeServicos %}
                <li>
                {{ PrestadorDeServico.nome }} - {{ PrestadorDeServico.rg }} - {{ PrestadorDeServico.dataDeNascimento }} - {{ PrestadorDeServico.nomeDaEmpresa }} -
                    {{ PrestadorDeServico.servico }} - {{ PrestadorDeServico.numeroDoApartamento }}
                 <div>
                      <a href="{% url 'delete_PrestadorDeServico' PrestadorDeServico.id %}" class="btn btn-danger">Excluir</a>
                      <a href="{% url 'update_PrestadorDeServico' PrestadorDeServico.id %}" class="btn btn-primary">Atualizar</a>
                  </div>
                </li>
            {% endfor %}
    </ul>
        <div>
        <a class="btn btn-primary" href="{% url 'create_PrestadorDeServico' %}">Adicionar Prestador de Serviço</a>
        <a class="btn btn-light" href="{% url 'list_Morador' %}">Voltar</a>
    </div>
{% endblock %}